<!DOCTYPE html>
<html lang="en">
<head>

  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" lang="ru" content="Place for all your movies is there">
  <meta name="author" content="Swasher">
  <meta name="robots" content="index, follow">

  <!-- load django template tag -->
  {% load static %}
  {% load admin_urls %}

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- Ion -->
  <script src="https://cdn.rawgit.com/IonDen/ion.sound/master/js/ion.sound.min.js"></script>

  <!-- Easytimer JS -->
  <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.3/src/easytimer.min.js"></script>

  <!-- Imask - для input mask -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.1.0/imask.min.js" integrity="sha512-201IYuQ6RPr47FIs+sGreRBawUyClKluxHg2C5Q5c888sr9Ew5WBj1Cgo/UY7Lcs1Fk+FKX+K5TTbWV1rU+FgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- RobinHerbots / Inputmask - для input mask -->
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/inputmask.min.js" integrity="sha512-8Pg78xnPfP0dVd8QJNLdDKze4oLb4ygYlwbG4NloTPbQiILb3WoZxgcZm1FOXywNQtiB3H2nCQJt2csxEw172g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}

  <!-- Own CSS and JS -->
  <link rel="stylesheet" href="{% static "style.css" %}">
  {#    <script src="{% static "csfr_ajax.js" %}"></script>#}

  {% block head %}{% endblock %}

  <title>Sandglass Timer</title>

</head>

<body class="d-flex flex-column">

  <div class="container flex-grow">
    {% block content %}  {% endblock %}
  </div>

</body>

</html>