<form class="row mt-2 w-75">


  <div class="col-4">
    <select class="form-select" aria-label="Default select example" id="sel-manager">
      <option selected value="0">Выбери манагера</option>
      {% for manager in managers %}
          <option value="{{ manager.id }}"> {{ manager.name }} </option>
      {% endfor %}
    </select>
      <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Нужно выбрать одного.
    </div>
  </div>


  <div class="col-7">
    <input class="form-control" autocomplete="off"  list="datalistOptions" id="jobnote" placeholder="Понятное описание работы">

    <datalist id="datalistOptions">
        <option id="0" value="value"></option>
    </datalist>
    <div id="count" class="valid-feedback">
      <span class="badge bg-info">0</span> Looks good!
    </div>
    <div id="count" class="invalid-feedback">
      <span class="badge bg-info">0</span> Too short description.
    </div>
  </div>

</form>
